<button aria-label="menu toggle" type="button" class="text-link site-header__link js-drawer-open-left">
  <span class="site-header__menu-toggle--open">
    {%- include 'icon-hamburger' -%}
  </span>
  <span class="site-header__menu-toggle--close">
    {%- include 'icon-close' -%}
  </span>
</button>