{%- if product.metafields.info.countdown != blank -%}
<!-- product-countdown.liquid -->
<div class="js-countdown js-countdown--1" data-time="{{product.metafields.info.countdown}}"></div>
{%- endif -%}