<div class="pb-3 mb-3 pl-4">
  <div class="form-check js-select-bundle">
    <input class="form-check-input"
           data-type="single"
           data-bundle="diapers"
           name="exampleRadios"
           type="radio"
           id="type-bundle-diapers"
           value="diapers" checked>
    <label class="form-check-label" for="type-bundle-diapers">
      Diapers
    </label>
  </div>
  <div class="form-check js-select-bundle">
    <input class="form-check-input"
           data-type="single"
           data-bundle="pants"
           name="exampleRadios"
           type="radio"
           id="type-bundle-pants"
           value="pants">
    <label class="form-check-label" for="type-bundle-pants">
      Training Pants
    </label>
  </div>
  <div class="form-check js-select-bundle">
    <input class="form-check-input"
           data-type="mix"
           name="exampleRadios"
           type="radio"
           id="type-bundle-mix"
           value="mix">
    <label class="form-check-label" for="type-bundle-mix">
      Mix bundle
    </label>
  </div>
</div>