<!-- blog-template-1.liquid -->
<style>
  .sidebar-blog-wrap.is_stuck{padding-top:20px}
</style>
<div class="container">

  <div class="row {% if section.settings.sidebar_position == 'left' %}flex-row-reverse{% endif %}">
    {%- assign limit = section.settings.limit | minus:1 -%}
    {%- paginate blog.articles by limit -%}
    <div class="{% if section.settings.sidebar_enable %}col-md-8 col-lg-9{% else %}col-12{% endif %}">
      <div class="row">
        {%- for article in blog.articles -%}
        <div class="col-12 col-md-6 {% if forloop.index == 3 %}col--last{% endif %}">
          {%- include 'blog-card' -%}
        </div>
        {%- endfor -%}
      </div>
      {%- if paginate.pages > 1 -%}
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
      {%- endif -%}
    </div>
    {%- endpaginate -%}
    {%- if section.settings.sidebar_enable -%}
    {%- include 'blogSidebar' -%}
    {%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "Blog template 1",
    "settings": [
      {
        "type": "range",
        "id": "limit",
        "min": 6,
        "max": 50,
        "step": 1,
        "label": "Limit",
        "default": 8
      },
      {
        "type": "header",
        "content": "Sidebar"
      },
      {
        "type": "checkbox",
        "id": "sidebar_enable",
        "label": "Enable",
		"default": true
      },
      {
        "type": "select",
        "id": "sidebar_position",
        "label": "Position",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
]
  }
{% endschema %}