<div class="container container--wishlist">
	<div class="content-block">
		<div class="row js-wishlist-content">
		</div>
	</div>
</div>
<style>
	.js-wishlist-itembox {
		border: 1px solid var(--g-border-1);
		border-radius: 8px;
		height: 100%
	}

	.js-wishlist-image{
		max-width:100px;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100px;
		flex: 0 0 100px;
	}

	.js-wishlist-itembox .h4{
		font-size: 15px;
		margin: 15px 0 5px;
		line-height: 1.5;
		color: var(--g-color-heading);
	}

	.js-wishlist-itembox img{
		height: 100px;
		width: 100%;
		object-fit: cover;
		-o-object-fit: cover;
	}

	.js-remove-wishlist {
		position: absolute;
		top: 10px;
		right: 25px;
		padding: 0;
		line-height: 1;
	}

	.js-remove-wishlist .icon {
		font-size: 12px;
		width: 12px;
		height: 12px;
	}
</style>