{%- include 'css-product-page' -%}
{%- section 'product-template-1' -%}
{%- section 'service-4' -%}
{% section 'diaper-diagram' %}
{% section 'diaper-ingredient' %}
{% section 'diaper-certification' %}
<div class="container">
  {% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: true, product: product %}
</div>
{%- section 'diaper-faqs' -%}
{%- section 'related-products' -%}
{%- section 'diaper-subscription' -%}